In [9]:
# Question 1a of List Assignment
# Print the second item from the list.
City = ["Gurgaon", "Mumbai", "Bangalore"]
print(City[1])

Mumbai

In [10]:
# Question 1b of List Assignment
# Change the value from "Gurgaon" to "Kerala"
City[0] = "Kerala"
print(City)

['Kerala', 'Mumbai', 'Bangalore']

In [40]:
# Question 1c of List Assignment
# Remove the last element of the list.
City = ["Gurgaon", "Mumbai", "Bangalore"]
del City[-1]
print(City)

['Gurgaon', 'Mumbai']

In [17]:
# Question 2 of List Assignment
# Use negative indexing to print the last item in the list. Make a list by yourself.
z = [10, 20, 30, 40]
print(z)
print(z[-1])

[10, 20, 30, 40]
40

In [35]:
# Question 3 of List Assignment
# Use a range of indexes to print the third, fourth, and fifth 
# item in the list. Make a list by yourself.
list = [10, 20, 30, 40, 50, 60]
index_list = [2,3,4]
actual_list = [list[i] for i in index_list]
print(actual_list)

[30, 40, 50]

In [42]:
# Question 4 of List Assignment
# Remove the last element from the city list
City = ["Gurgaon", "Mumbai", "Bangalore"]
print(City.pop())
print(City)

Bangalore
['Gurgaon', 'Mumbai']

In [49]:
# Question 5a of List Assignment
# Add "orange" at the end of the above list.
fruits = ["apple","lichi","guava","cherry","mango","watermelon","banana"]
fruits.append("orange")
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

In [52]:
# Question 5b of List Assignment
# Add "lemon" as the second item in the fruits list
fruits = ["apple","lichi","guava","cherry","mango","watermelon","banana"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana']

In [55]:
# Question 6 of List Assignment
# Remove ‘cherry’ from the fruit list given above.
fruits = ["apple","lichi","guava","cherry","mango","watermelon","banana"]
print(fruits.remove("cherry"))
print(fruits)

None
['apple', 'lichi', 'guava', 'mango', 'watermelon', 'banana']

In [1]:
# Question 7 of List Assignment
# Write the python program to let the user input a list of
# numbers and print the list in descending order.
myList = [34, 11, 21, 7];
myList.sort(reverse=True);
print(myList);

[34, 21, 11, 7]

In [2]:
# Question 8 of List Assignment
# Write the python program to let the user input two lists and
# combine both the lists.
listone = [1,2,3]
listtwo = [4,5,6]

joinedlist = listone + listtwo
print(joinedlist)

[1, 2, 3, 4, 5, 6]

In [3]:
# Question 9 of List Assignment
# List = [10, 45, 78, 11, 9, 23]. Shuffle this list.
import random

list = {10,45,78,11,9,23}
res = random.sample(list, len(list)) 
print ("The shuffled list is : " +  str(res))

The shuffled list is : [45, 10, 9, 78, 23, 11]

In [5]:
# Question 10a of List Assignment
# x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
# What is the expression that returns the 'z' in 'baz'?
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1][2]

'z'

In [16]:
# Question 10b of List Assignment
# What expression returns the list ['baz', 2.718]?
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1]

'baz'

In [7]:
# Question 11 of List Assignment
# Extract element 20 from the above list.
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][1]

20

In [19]:
# Question 12 of List Assignment
# Write a Python statement using slice assignment that will fill in
# the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

a = [1, 2, 7, 8]