In [6]:
# Qustion 1 of Tuple and Set Assignment
# Write a Python program to add an item in a tuple.
#create a tuple
tuplex = (1, 2, 3, 4, 5, 6) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (7,)
print(tuplex)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7)

In [12]:
# Qustion 2 of Tuple and Set Assignment
# Write a Python program to reverse a tuple.
x = ("Shivani")
y = reversed(x)
print(tuple(y))
tuplex = (1, 2, 3, 4, 5, 6) 
xelput = reversed(tuplex)
print(tuple(xelput))

('i', 'n', 'a', 'v', 'i', 'h', 'S')
(6, 5, 4, 3, 2, 1)

In [14]:
# Qustion 3 of Tuple and Set Assignment
# Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [19]:
# Qustion 4 of Tuple and Set Assignment
# Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [22]:
# Qustion 5 of Tuple and Set Assignment
# Write a Python program to unpack a tuple in several variables
tuplex = 1, 2, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3 = tuplex

(1, 2, 3)
6

In [26]:
# Qustion 6 of Tuple and Set Assignment
# Write a Python program to add member(s) in an empty
color_set = set()
color_set.add("Red")
print(color_set)
#Add multiple items
color_set.update(["Blue", "Green"])
print(color_set)

{'Red'}
{'Red', 'Green', 'Blue'}

In [31]:
# Qustion 7 of Tuple and Set Assignment
# Write a Python program to create an intersection of sets
setx = set(["AI", "DS"])
sety = set(["DS", "DA"])
setz = setx & sety
print(setz)

{'DS'}

In [32]:
# Qustion 8 of Tuple and Set Assignment
# Write a Python program to create a symmetric difference in sets.
setx = set(["AI", "DS"])
sety = set(["DS", "DA"])
setz = setx ^ sety
print(setz)

{'AI', 'DA'}

In [38]:
# Qustion 9 of Tuple and Set Assignment
# Return a set of identical items from a given two Python set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2))

{40, 50, 30}

In [39]:
# Qustion 10 of Tuple and Set Assignment
# Remove 10, 20, 30 elements from a following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

# Qustion 11 of Tuple and Set Assignment
# Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))
example[1][1]

In [47]:
# Qustion 11 of Tuple and Set Assignment
# Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))
example[1][1]

20

In [56]:
# Question 12 of Tuple and Set Assignment
# Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)
count = numbers.count(50)
print("count of 50 is",count)

count of 50 is 2